/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;}
a {
	text-decoration: none;}
ul,
ol,
li {
	list-style: none;}
img {
	vertical-align: top;}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;}
html,
body {
   height: 100%;
   line-height: 1;
}
body{
   font-family: 'Heebo', sans-serif;
   font-size: 16px;
   color: #21243D;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main{
   flex: 1 1 auto;
}
[class*="__container"] {
   max-width: 858px;
   margin: 0 auto;
   padding: 0px 15px;
}
/* -----------------HEADER------------------------------------------------------------------------------------------------- */
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__container-head {
   max-width: 1032px;
   margin: 0 auto;
   padding: 0px 15px;
   
   display: flex;
	min-height: 70px;
	align-items: center;
}
.header__menu {
   flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end;
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
}
.menu__item:not(:last-child) {
   margin: 0px 34px 0px 0px;
}
.menu__link {
   font-weight: 500;
   font-size: 20px;
   line-height: 145%;
   color: #000;
}
.menu__link:hover {
   text-decoration: underline;
}
@media (max-width: 479px){
   .menu__link {
      font-size: 17px;
   } 
   .menu {
      justify-content: center;
   }
}
/* -----------------MAIN--------------------------------------------------------------------------------------------------- */
.blog__container {
   padding: 160px 15px 55px 15px;
}
.blog__title {
   font-weight: 700;
   font-size: 44px;
   line-height: 136%;
   margin: 0px 0px 55px 0px;
}
.blog__items {
   display: flex;
   flex-direction: column;
}
.item-blog__body{
   position: relative;
}
.item-blog__body::after {
   content: "";
   position: absolute;
   background-color: #E0E0E0;
   height: 1px;
   width: 100%;
   bottom: -28px;
}
.item-blog__body:not(:last-child) {
   margin: 0px 0px 60px 0px;
}
.item-blog__title {
   font-weight: 500;
   font-size: 30px;
   line-height: 146%;
   color: inherit;
}
.item-blog__title:hover {
   text-decoration: underline;
}
.item-blog__info {
   display: flex;
   margin: 10px 0px 10px 0px;
   align-items: center;
}
.item-blog__info-date {
   font-weight: 400;
   font-size: 20px;
   line-height: 145%;
   margin: 0px 50px 0px 0px;
   position: relative;
}
.item-blog__info-date::after {
   content: "";
   position: absolute;
   background-color: #000;
   height: 20px;
   width: 1px;
   right: -30px;
}
.item-blog__info-text {
   font-weight: 400;
   font-size: 20px;
   line-height: 145%;
   color: #8695A4;
}
.item-blog__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
}
@media (max-width: 479px){
   .blog__container {
      padding: 100px 15px 55px 15px;
   }   
   .blog__title {
      font-size: 30px;
      margin: 0px 0px 25px 0px;
   }
   .item-blog__title {
      font-size: 26px;
   }   
   .item-blog__info-date {
      font-size: 16px;
   }
   .item-blog__info-text {
      font-size: 16px;
   }
   .item-blog__body:not(:last-child) {
      margin: 0px 0px 50px 0px;
   }   
}
/* -----------------FOOTER------------------------------------------------------------------------------------------------- */
.footer__container {
   padding: 51px 15px 54px 15px;
}
.footer_row {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer__social {
   margin: 0px 0px 26px 0px;
}
.social_footer__link:not(:last-child) {
   margin: 0px 35px 0px 0px;
}
.footer__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
}