/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;}
a {
	text-decoration: none;}
ul,
ol,
li {
	list-style: none;}
img {
	vertical-align: top;}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;}
html,
body {
   height: 100%;
   line-height: 1;
}
body{
   font-family: 'Heebo', sans-serif;
   font-size: 16px;
   color: #21243D;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main{
   flex: 1 1 auto;
}
[class*="__container"] {
   max-width: 681px;
   margin: 0 auto;
   padding: 0px 15px;
}
/* -----------------HEADER------------------------------------------------------------------------------------------------- */
.header__container-head{
   max-width: 1032px;
   margin: 0 auto;
   padding: 0px 15px;
   
   display: flex;
	min-height: 70px;
	align-items: center;
}
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__menu {
   flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end;
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
}
.menu__item:not(:last-child) {
   margin: 0px 34px 0px 0px;
}
.menu__link {
   font-weight: 500;
   font-size: 20px;
   line-height: 145%;
   color: #000;
}
.menu__link:hover {
   text-decoration: underline;
}
@media (max-width: 479px){
   .menu__link {
      font-size: 17px;
   } 
   .menu {
      justify-content: center;
   }
}
/* -----------------START------------------------------------------------------------------------------------------------- */
.start__container {
   padding: 150px 15px 89px 15px;
}
.start__title {
   font-weight: 700;
   font-size: 34px;
   line-height: 147%;
   max-width: 506px;
}
.start__title:not(:last-child) {
   margin: 0px 0px 32px 0px;
}
.start__info {
   display: flex;
}
.start__info-date {
   font-weight: 900;
   font-size: 18px;
   line-height: 145%;
   display: flex;
   align-items: center;
   color: #FFFFFF;
   background-color: #FF7C7C;
   border-radius: 16px;
   padding: 1px 10px;
   margin: 0px 20px 30px 0px;
}
.start__info-text {
   font-weight: 400;
   font-size: 20px;
   line-height: 145%;
}
.start__text {
   font-weight: 400;
   line-height: 150%;
}
.start__text:not(:last-child) {
   margin: 0px 0px 46px 0px;
}
.start__image img{
   max-width: 100%;
}
@media (max-width: 479px){
   .start__container {
      padding: 80px 15px 55px 15px;
   }
   .start__title {
      font-size: 30px;
   }
   .start__title:not(:last-child) {
      margin: 0px 0px 23px 0px;
   }   
   .start__info-text {
      font-size: 18px;
   }   
   .start__info-date {
      margin: 0px 20px 50px 0px;
   }
   .start__text:not(:last-child) {
      margin: 0px 0px 23px 0px;
   }
}
/* -----------------HEADING------------------------------------------------------------------------------------------------- */
.heading__container {
   padding: 5px 15px 27px 15px;
}
.heading__body {
   display: flex;
   flex-direction: column;
}
.heading__title {
   font-weight: 500;
   font-size: 30px;
   line-height: 200%;
}
.heading__title:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
.heading__text {
   font-weight: 400;
   line-height: 150%;
}
.heading__text:not(:last-child) {
   margin: 0px 0px 30px 0px;
}
.heading__image img {
   max-width: 100%;
}
.heading__image-img:not(:last-child){
   margin: 0px 0px 27px 0px;
}
@media (max-width: 479px){
   .heading__title {
      font-size: 26px;
   }
   .heading__title:not(:last-child) {
      margin: 0px 0px 25px 0px;
   }  
   .heading__text:not(:last-child) {
      margin: 0px 0px 25px 0px;
   }    
}
/* -----------------FOOTER------------------------------------------------------------------------------------------------- */
.footer__container {
   padding: 51px 15px 54px 15px;
}
.footer_row {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer__social {
   margin: 0px 0px 26px 0px;
}
.social_footer__link:not(:last-child) {
   margin: 0px 35px 0px 0px;
}
.footer__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
}