/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;}
a {
	text-decoration: none;}
ul,
ol,
li {
	list-style: none;}
img {
	vertical-align: top;}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;}
html,
body {
   height: 100%;
   line-height: 1;
}
body{
   font-family: 'Heebo', sans-serif;
   font-size: 16px;
   color: #21243D;
}
/* ------------------------------------------------------------------------------------------------------------------ */
.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.main{
   flex: 1 1 auto;
}
[class*="__container"] {
   max-width: 858px;
   margin: 0 auto;
   padding: 0px 15px;
}
/* -----------------HEADER------------------------------------------------------------------------------------------------- */
.header {
   position: absolute;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 50;
}
.header__container-head {
   max-width: 1032px;
   margin: 0 auto;
   padding: 0px 15px;

   display: flex;
	min-height: 70px;
	align-items: center;
}
.header__menu {
   flex: 1 1 auto;
}
.menu {
   display: flex;
   justify-content: flex-end;
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
}
.menu__item:not(:last-child) {
   margin: 0px 34px 0px 0px;
}
.menu__link {
   font-weight: 500;
   font-size: 20px;
   line-height: 145%;
   color: #000;
}
.menu__link:hover {
   text-decoration: underline;
}
@media (max-width: 479px){
   .menu__link {
      font-size: 17px;
   } 
   .menu {
      justify-content: center;
   }
}
/* -----------------WORKS------------------------------------------------------------------------------------------------- */
.works {
   background-color: #fff;
}
.works__container {
   padding: 160px 15px 83px 15px;
}
.works__title {
   line-height: 136%;
   margin: 0px 0px 50px 0px;
   font-weight: 900;
   font-size: 44px;
}
.works__row {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.items-works_item {
   position: relative;
}
.items-works_item::after {
   content: "";
   position: absolute;
   background-color: #E0E0E0;
   height: 1px;
   width: 100%;
   bottom: -40px;
}
.works__items{
   flex-wrap: wrap;
}
.items-works_item__body {
   display: flex;
}
.items-works_item:not(:last-child) {
   margin: 0px 0px 90px 0px;
}
.items-works_item__img {
   flex: 0 0 250px;
}
.items-works_item__img img {
   max-width: 100%;
}
.items-works_item__info {
   flex: 1 1 auto;
   margin: 0px 0px 0px 18px;
}
.items-works_item__title {
   font-weight: 700;
   font-size: 30px;
   line-height: 146%;
   color: inherit;
}
.items-works_item__title:hover {
   text-decoration: underline;
}
.items-works_item__date {
   display: flex;
   margin: 10px 0px 22px 0px;
}
.items-works_item__date_20 {
   background-color: #142850;
   border-radius: 16px;
   font-weight: 900;
   font-size: 18px;
   line-height: 146%;
   color: #FFFFFF;
   padding: 2px 10px;
   text-align: center;
   margin: 0px 26px 0px 0px;
}
.items-works_item__date_text {
   font-weight: 400;
   font-size: 20px;
   line-height: 145%;
   color: #8695A4;
   text-align: center;
   align-items: center;
}
.items-works_item__text {
   font-weight: 400;
   line-height: 150%;
}
@media (max-width: 479px){
   .works__container {
      padding: 80px 15px 100px 15px;
   }  
   .items-works_item-2 {
      display: none;
   }
   .items-works_item-3 {
      display: none;
   }
   .items-works_item__body {
      flex-direction: column;
   }
   .works__title {
      font-size: 30px;
      margin: 0px 0px 28px 0px;
   }  
   .items-works_item__img img {
      width: 344px;
      margin: 0px 0px 17px 0px;
   }   
   .items-works_item__title {
      font-size: 24px;
   }
   .items-works_item__date {
      display: flex;
      margin: 16px 0px 24px 0px;
   }
   .items-works_item__info {
      margin: 0px 0px 0px 0px;
   } 
   .items-works_item:not(:last-child) {
      margin: 0px 0px 40px 0px;
   }  
   .items-works_item::after {
      bottom: -15px;
   }   
}
/* -----------------FOOTER------------------------------------------------------------------------------------------------- */
.footer__container {
   padding: 51px 0px 54px 0px;
}
.footer_row {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer__social {
   margin: 0px 0px 26px 0px;
}
.social_footer__link:not(:last-child) {
   margin: 0px 35px 0px 0px;
}
.footer__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   text-align: center;
}